{% extends "base.html" %}
{% block content %}
   <div class="container">
      <!-- <h1><p class="logo cursive">LyfCycle</p></h1> -->
	 <center> <p class="logo fa fa-refresh fa-lg"></p></center>

      <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
      <div class="content">
         <h1 class="motto">{{ page.page }}</h1>
         <div class="subscribe">
            <h5 class="info-text">
				{{ flash }}
				{% if page.error %}
					{{ page.error }}
				{% endif %}
			</h5>
            <div class="row">
               <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                  <form class="form-inline" role="form" method="POST" action="/login">
                     <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" name="email" class="form-control transparent" placeholder="Your email here...">
                        <input type="password" name="password" class="form-control transparent" placeholder="Your password here...">
                     <br />
                     <button type="submit" class="btn btn-danger btn-fill">Login</button>
					 </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
